<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Daily Update</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<p th:text="${test}"></p>

<h1>Product list</h1>

<table>
    <tr>
        <th>Province/State</th>
        <th>Country/Region</th>
        <th>Number Of Cases</th>
    </tr>
    <tr th:each="singleRecord : ${coronavirusData}">
        <td th:text="${singleRecord.state}"></td>
        <td th:text="${singleRecord.country}"></td>
        <td th:text="${singleRecord.numberOfCases}">0</td>
    </tr>
</table>

</body>

</html>